<link rel="stylesheet" href="/css/bmi.css" />
 
<div class="container1">
  <form action="/BMI/result" method="POST" class="search-container">
    
    <input
      type="text"
      placeholder="Enter Your Age"
      id="user-inp"
      name="age"
    />
    <input
      type="text"
      placeholder="Enter Your Weight (in Kg)"
      id="user-inp"
      name="weight"
    />
    <input
      type="text"
      placeholder="Enter Your Height (in cm)"
      id="user-inp"
      name="height"
    />
    <button type="submit" id="search-btn">Search</button>
  </form>
  <div id="result"></div>
</div>