<link rel="stylesheet" href="/css/bmi.css">
<div class="bmiresult">
    <h1>Your Bmi is <%=bmi.bmi%></h1>
    <h1>You are in <%=bmi.health%> Category</h1>
    <h1>Healthy BMI Range: <%=bmi.healthy_bmi_range%></h1>
</div>