<!-- <link rel="stylesheet" href="/css/search.css">
<section class="hero">
    <div class="container mx-auto">
        <img src="/img/food.jpeg" alt="GetFit">



    </div>
</section>
<section id="container">
    <div>
        <form action="/recipes/search" method="POST">
            <input type="'text" placeholder="Search..." name="val">
            <button type="submit" >
                <img src="/img/search1.png" height="30px" width="30px">
            </button>
        </form>
    </div>

    
</section> -->

    <link rel="stylesheet" href="/css/style.css" />
 
    <div class="container1">
      <div class="search-container">
        <input
          type="text"
          placeholder="Type A Dish Name Here.."
          id="user-inp"
        />
        <button id="search-btn">Search</button>
      </div>
      <div id="result"></div>
    </div>
    <!-- Script -->
    <script src="/js/script.js"></script>
