<link rel="stylesheet" href="/css/search.css">
<section class="hero">
    <div class="container mx-auto">
        <img src="/img/workout.jpeg" alt="GetFit">



    </div>
</section>
<section id="container">
    <div>
        <form action="/workout/search" method="POST">
            <input type="'text" placeholder="Search..." name="val">
            <button type="submit" >
                <img src="/img/search1.png" height="30px" width="30px">
            </button>
        </form>
    </div>

    
</section>